header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 110 50;
  margin: 0 150;
}

.logo {
  width: 120px;
}

header ul {
  display: flex;
}

header li {
  margin-left: 30px;
  list-style: none;
}

header a {
  font-size: 14px;
  color: rgb(42, 42, 42);
  text-decoration: none;
}

.instagram {
  width: 20px;
}

@media screen and (max-width: 767px) {
  header {
    display: block;
    padding: 0;
    margin: auto;
    text-align: center;
  }

  .logo {
    margin-top: 20px;
  }

  header ul {
    column-gap: 20px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  header li {
    margin-left: 0;
  }

  .instagram {
    margin-right: 40px;
  }
}
